.flexGroup{
    display:table;
    margin:0 auto;
    border:1px solid red;
}

.euiFlexGroup--gutterLarge {
    margin: 0 auto;
}

.search-area {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    height: auto;
}
