.list-element{
    min-height: 50px;
    padding: 20px 10px;
    /* background-color: aqua; */
    /* border: 1px solid #ccc; */
}

.author-area{
    line-height: 30px;
}

.abstract-area{
    line-height: 24px;
    max-height: 45px;
}

.abstract-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.not-first{
    margin-left: 20px;
}

.index {
    font-size: 16px;
    color: rgb(4, 4, 4);
    font-weight: 700;
}

.title {
    font-size: 16px;
    color: #215da9;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}