.wrapper{
    position: relative;
    width: 100%;
    /* min-width: 1200px; */
    padding: 35px 0 50px;
    background-color: #f9f9f9;
}

.main{
    position: relative;
    width: 96%;
    margin: 0 auto;
    font-family: "Microsoft yahei";
    border: 1px solid #e4e4e4;
    background-color: #fff;
    clear: both;
    -webkit-box-shadow: 1px 1px 10px 2px #f9f9f9;
    -moz-box-shadow: 1px 1px 10px 2px #f9f9f9;
    box-shadow: 1px 1px 10px 2px #eee;
}

.container{
    padding-top: 15px;
    background-color: #fff;
    overflow: hidden;
}

.container .doc {
    width: 79%;
    min-width: 750px;
    margin: 0 auto 30px;
}

.wrapper h1 {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 24px;
    color: #333;
    font-weight: normal;
    line-height: 35px;
    vertical-align: middle;
    font-family: "Microsoft yahei",serif;
}

.wx-tit {
    text-align: center;
}

.row {
    float: none;
    min-height: 26px;
    padding-top: 8px;
    font-size: 14px;
    color: #000;
    clear: both;
    text-align: justify;
    text-justify: inter-word;
    display: table;
    width: 100%;
}

.row .rowtit {
    display: table-cell;
    vertical-align: top;
    padding-right: 5px;
    line-height: 26px;
    font-weight: bold;
    white-space: nowrap;
    width: 8px;
}

.row-1, .row-2 {
    float: left;
    width: 47%;
    display: inline-table;
}

.row-1 {
    margin-right: 4%;
}

.content{
    min-height: 300px;
    min-width: 79%;
    background-color: beige;
}