/* title */
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    /* background-color: brown; */
}

.title h1{
    font-size: xx-large;
}

/* .title-image img{
    margin: 0 auto; 
    background-color: blueviolet;
} */




