.search-box{
    width: 600px;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0 auto;
}

.fieldSelect .euiSuperSelect__listbox {  
    min-width: 175px;
}

.fieldSelect.euiPanel.euiPanel--plain {
    min-width: 175px;
}

.option_list_item {
    font-size: 14px;
}